.app{
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
    background-color: #F3F2EF;
}

.app_body{
    display: flex;
    margin: 3% 10%;
}

@media (max-width:1279px) {
    .app_body{
        margin: 3% 4%;
    } 
}

